.vscode
.DS_Store
video_venv
myTests
*.code-workspace
*/__pycache__
*.pyc
/ui/__pycache__
.env
/desktop-app/dev-cache/cache
/desktop-app/__pycache__
/.pytest_cache
/desktop-app/render/*.mp4
/desktop-app/render/build
/desktop-app/render/_videooperations.*
/desktop-app/render/config.json